body {
	font-family: Verdana, Arial, sans-serif;
	background: rgba(255, 213, 213, 0.8);
	font-size: 18px;
	margin: 0;
	padding: 100px;
}

.wrapper {
	max-width: 1000px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

header {
	display: flex;
	z-index: 100;
	width: 100%;
	height: 100px;
	background: rgba(255,213,213,0.8);
}
header nav {
	position: absolute;
	right: 0;
	top: 0;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	color: #5c6971;
	line-height: 100px;
	display: block;
	padding: 0 20px;
	text-decoration: none;
}

header nav ul li:hover a {
	background: #e2001a;
	color: #fff;
}
h1 {
	text-align: center;
	color: red;
}
.h2-row {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.image-row {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.image-row img:hover {
	transform: scale(1.05);

}
